// Body
$body-bg: #f8fafc;

// Typography
$font-family-roboto: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #24292e;
$gray: #4f5255;
$light-gray: #c4c4c4;
$white: #e8eaeb;
