// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Variables
@import "variables";
@import "group_home";
@import "Auth/Register.scss";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $font-family-roboto;
    font-size: 1em;
    min-height: 100%;
}

.brand-logo {
    margin-left: 1rem;
}

nav {
    background-color: $black !important;
    color: $white !important;
    height: auto;
    position: fixed;
}

main {
    margin-top: 69px !important;
}

nav a {
    color: $white !important;
}

nav li {
    &:hover {
        background-color: $gray;
    }
}

.dropdown-item {
    color: $black !important;
}

.bg {
    background-color: $light-gray;
}

.bg-1 {
    background-color: #e2f9e5;
}

.bg-2 {
    background-color: #dee7fe;
}

.bg-3 {
    background-color: #fdf1fa;
}
