// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Variables
@import 'variables';
@import 'group_home';
@import 'Auth/Register.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: $font-family-roboto;
    font-size: 1em;
    min-height:100%;
}

.brand-logo {
    margin-left: 1rem;
}

nav {
    background-color: $black !important;
    color: $white !important;
}

a {
    color: $white !important;
}

li {
    &:hover {
        background-color: $gray;
    }
}